<div card-container class="card-container">
  <div song-card>
    <mat-card>
      <div class="button-wrapper" *ngIf="noWinnerView">
        <button (click)="selected('left')" mat-fab>
          <mat-icon class="mat-icon" color="warn" svgIcon="heart"></mat-icon>
        </button>
      </div>
      <iframe
        style="border: 0; width: 300px; height: 100%;"
        [src]="leftUrl()"
        allowtransparency="true"
        allow="encrypted-media"
      ></iframe>
    </mat-card>
  </div>
  <div song-card *ngIf="noWinnerView">
    <mat-card>
      <div class="button-wrapper">
        <button (click)="selected('right')" mat-fab>
          <mat-icon class="mat-icon" color="warn" svgIcon="heart"></mat-icon>
        </button>
      </div>
      <iframe
        style="border: 0; width: 300px; height: 100%;"
        [src]="rightUrl()"
        allowtransparency="true"
        allow="encrypted-media"
      ></iframe>
    </mat-card>
  </div>
</div>
<div *ngIf="noWinnerView === false" class="replay-button-container">
  <span class="replay-button-message replay-button-text">Had fun?</span>
  <button (click)="reloadGame()" mat-stroked-button color="warn">
    <span class="replay-button-message">Play again!</span>
  </button>
</div>
